@import url('/fonts/stylesheet.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(243, 243, 243, 1);
  font-family: 'Magistral', Arial, Helvetica, sans-serif;
  padding: 20px 35px 50px 35px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

input {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

input::placeholder {
  color: rgba(44, 48, 49, 1);
  font-weight: 500;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Убираем стрелки у input type="number" */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* Стили для скроллбара */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
