.wrapper {
  width: 100%;
}

.up {
  display: flex;
}

.fon {
  background-color: rgba(44, 48, 49, 1);
}

.contacts {
  position: relative;
  display: flex;
  width: 100%;
  background-color: rgba(44, 48, 49, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.img {
  background-color: rgba(243, 243, 243, 1);
  border-bottom-right-radius: 20px;
  height: 100%;
  width: 150px;
}

.menu {
  display: flex;
  gap: 20px;
  margin: 20px;
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.menu span {
  cursor: pointer;
}

.menuPick {
  font-weight: 700;
}

.tel {
  margin: 20px 20px 0 auto;
  font-weight: 500;
  color: rgba(255, 197, 61, 1);
  cursor: pointer;
}

.down {
  background-color: rgba(44, 48, 49, 1);
  padding: 20px 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.flex {
  display: flex;
  gap: 20px;
}

.down input {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 13px 45px 13px 20px;
  height: 40px;
  border-radius: 4px;
}

.input {
  position: relative;
  width: 100%;
}

.svg {
  position: absolute;
  top: 8px;
  right: 20px;
}

.lampa {
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgba(255, 197, 61, 1);
  left: 20px;
  right: 20px;
}

.lampa svg {
  position: absolute;
  top: -14px;
  left: 20px;
  transition: left 0.5s ease;
}

.lampa[data-pick='catalog'] svg {
  left: 95px;
}

.lampa[data-pick='basket'] svg {
  left: 175px;
}
